{% extends "front/template/base_front.html.twig" %}
{% trans_default_domain 'front' %}
{% block body_class %}blogList{% endblock %}
{% set meta_title = 'blog.meta.title'|trans %}
{% block html_title %} - {{ meta_title }}{% endblock %}
{% block og_meta %}
    {% include 'front/template/basique_meta_pages.html.twig' %}
{% endblock %}
{% block main %}

    {% set hastagTitle = 'blog.title'|trans %}
    {% set hastagList = "#"~'hastags.blog'|trans %}
    {% include 'front/bandeau/bandeau_hastag.html.twig' %}

    <section class="blog">
        <h2 class="sectionTitle"> {{ 'blog.last_article_title'|trans({ '%tag_sentence%' : (tagName is defined ? 'blog.last_article_tag'|trans({'%tag_name%' : tagName }) : '') })}}</h2>
        <div class="postsList u-fitted">
            {% for blog in blogs %}
                <div class="postItem shortPost blogItem">
                    <div class="postItemCtn blogItemCtn">
                        {% media blog.image, 'reference' with {'class': 'postPhoto blogPhoto'} %}
                        <h4 class="postTitle blogTitle">{{ blog.nom }}</h4>
                        <p class="postSummary blogSummary">{{ blog.descriptionCourte }}</p>
                        <a class="postHover postLink" href="{{ path('blog_detail', {'slug': blog.slug}) }}" title="{{ 'blog.button.see_article'|trans }} : {{ blog.nom }}"><span class="btn btn-blank" aria-hidden="true">{{ 'blog.button.see_article'|trans }}</span></a>
                    </div>
                </div>
            {% endfor %}

            {% include 'front/template/button_voir_plus_moins.html.twig' %}
        </div>
    </section>

    {% include 'front/bandeau/bandeau_devenir_membre.html.twig' %}
    {% include 'front/bandeau/follow_us.html.twig' %}
    
{% endblock %}