{% trans_default_domain 'front' %}
{% include 'front/template/flash_messages.html.twig' %}
<form class="newsletterForm js-form-grecaptcha" action="{{ path('add_newsletter') }}">
    <div class="formItem">
        <label class="fldLabel u-hiddenVisually" for="fld-email-newsletter">{{ 'newsletter.email.label'|trans }}</label>
        <input class="fld" type="email" name="newsletter_email" placeholder="{{ 'newsletter.email.placeholder'|trans }}">
    </div>
    <div class="js-container-grecaptcha"></div>
    <button class="btn js-button-grecaptcha" type="submit" data-grecaptcha-key="{{ google_recaptcha_public_token }}">{{ 'newsletter.button_inform'|trans }}</button>
</form>

