{% trans_default_domain 'front' %}
<div class="followItem newsletter">
    {% include 'front/template/flash_messages.html.twig' %}
    <form class="newsletterForm js-form-grecaptcha" action="{{ path('add_newsletter') }}">
        <span class="newsletterTitle">{{ 'newsletter.accroche'|trans }} <small class="nospam">#nospam</small></span>
        <div class="formItem">
            <input class="fld" type="email" name="newsletter_email" placeholder="{{ 'newsletter.email.placeholder'|trans }}">
        </div>
        <div class="js-container-grecaptcha"></div>
        <button class="btn js-button-grecaptcha" type="submit" data-grecaptcha-key="{{ google_recaptcha_public_token }}">{{ 'newsletter.button'|trans }}</button>
    </form>
</div>

