{# src/Acme/AdminBundle/Resources/views/standard_layout.html.twig #}
{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
        <a rel="noreferrer" target="_blank" href="{{ path('home') }}"><i class="fa fa-link"></i> {{ 'url_site_link'|trans({}, 'SonataAdminBundle') }}</a>
        {% if trello_link is not empty %}
            <a rel="noreferrer" target="_blank" style="margin-left: 5px;" href="{{ trello_link }}"><i class="fa fa-trello"></i> {{ 'url_trello_link'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
    </p>
    {% if planneur_link is not empty %}
        <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
            <a rel="noreferrer" target="_blank" style="margin-left: 5px;" href="{{ planneur_link }}"><i class="fa fa-columns"></i> {{ 'url_planneur_link'|trans({}, 'SonataAdminBundle') }}</a>
        </p>
    {% endif %}
    {% if num_version is not empty %}
        <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
            <a rel="noreferrer" href="#">V.{{ num_version }}</a>
        </p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{  asset('js/admin.js'|asset_version) }}"></script>
    <script src="bundles/sonataformatter/vendor/ckeditor/ckeditor.js"></script>
{% endblock %}