{% extends "front/template/base_front.html.twig" %}
{% trans_default_domain 'front' %}
{% block body_class %}news{% endblock %}
{% set meta_title = 'general.title.actualites'|trans %}
{% block html_title %} - {{ meta_title }}{% endblock %}
{% block og_meta %}
    {% include 'front/template/basique_meta_pages.html.twig' %}
{% endblock %}
{% block main %}
    
    {% set hastagTitle = meta_title %}
    {% set hastagList = "#"~{{ 'hastags.normandie'|trans }}~"#"~{{ 'hastags.japon'|trans }} %}
    {% include 'front/bandeau/bandeau_hastag.html.twig' %}
    

    <section class="about section u-fitted">
        {% if actualites is empty %}
        <div class="noWorkshop u-textCenter">
            <b class="nothing">{{ 'actualite.none.title'|trans }}</b>
            <p>{{ 'actualite.none.description'|trans }}</p>
            {% include 'front/newsletter/newsletter_form_light.html.twig' %}
        </div>
        {% else %}
        <h2 class="sectionTitle">{{ meta_title }}</h2>
        <div class="postsList newsList">
            {% for actualite in actualites %}       
                <div class="postItem shortPost newsItem">
                    <div class="postItemCtn newsItemCtn">
                        {% media actualite.image, 'reference' with {'class': 'postPhoto newsPhoto'} %}
                        <h4 class="postTitle newsTitle">{{ actualite.nom }}</h4>                    
                        <div class="postSummary newsSummary"> {{ crop_entete_texte(actualite.contenu)|raw }}</div>
                        <div class="postMoreText" style="display: none;">
                            {{ get_corps_texte(actualite.contenu)|raw }}
                        </div>
                        {% if actualite.contenu|length > 1 %}
                        <button class="seeMore" aria-hidden="true">{{ 'general.button.know_more'|trans }}</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% include 'front/template/button_voir_plus_moins.html.twig' %}
        </div>
        {% endif %}
    </section>

    {% include 'front/blog/top_blog.html.twig' %}
    {% include 'front/bandeau/follow_us.html.twig' %}
    
{% endblock %}