{% extends "template/base_front.html.twig" %}
{% block body_class %}events workshops{% endblock %}
{% block html_title %}– Les ateliers sur la culture japonaise : ikebana, origami, cuisine nippone{% endblock %}
{% block main %}
    
    {% set hastagTitle = "Nos activités" %}
    {% set hastagList = "#Ateliers" %}
    {% include 'bandeau_hastag.html.twig' %}

    <section class="workshopsIntro section u-fitted">
        <div class="grid-2">
            <div><img src="{{ asset('medias/img/ateliers.jpg') }}" alt="" width="580" height="435"></div>
            <div>
                <h2 class="sectionTitle">Les ateliers</h2>
                <div class="sectionChapo">
                    <p>Tous les ans, Rouen Japon vous propose de participer à divers ateliers, de l'initiation à l'<strong>Ikebana</strong> (art floral), aux <strong>ateliers cuisine</strong> (gyozas, okonomiyaki...), en passant par l'<strong>origami</strong>...</p>
                </div>

                <div class="sectionText">
                    <p>Le type et la fréquence de ces ateliers peut varier d'une saison à l'autre, c'est pourquoi nous vous invitons à repasser régulièrement par ici, consulter notre calendrier et/ou nous suivre <a href="https://www.facebook.com/AssoJaponRouen">ici</a> et <a href="https://twitter.com/rouenjapon">là</a></p>
                    <p>Pour cette saison 2017-2018 par exemple, Rouen Japon pense reprogrammer les ateliers de la saison précédente auxquels vous avez été nombreux à répondre présents, à savoir : </p>
                    <ul class="u-ul-colorRJ">
                        <li><b>Les Ateliers cuisine</b> (à raison d'un atelier par trimestre)</li>
                        <li><b>Les Ateliers origami</b> (à raison d'un atelier par trimestre)</li>
                        <li><b> Préparer son voyage au Japon</b>  (en octobre)</li>
                    </ul>
                    <p>Presque chaque atelier est ouvert à tous*, dans la limite des places disponibles et se règle à l'unité. Toutes les conditions figurent dans le détail des ateliers en question.</p>
                    <p>À bento ! Euh, ahem, à bientôt !</p>
                    <p class="u-note">*Détails et conditions à consulter pour chaque atelier</p>
                </div>
            </div>
        </div>                
    </section>

    <section class="comingEvents section">
        {% if ateliers is empty %}
        <div class="noWorkshop u-textCenter">
            <b class="nothing">Aucun atelier n'est encore programmé...</b>
            <p>Ça ne devrait pourtant pas tarder !</p>
            {% include 'newsletter_form_light.html.twig' %}
        </div>
        {% else %} 
        <h2 class="sectionTitle">Nos Ateliers</h2>
        <div class="postsList u-fitted">        
        {% for atelier in ateliers %}  
            <div class="postItem shortPost">
                <div class="postItemCtn">
                    {% media atelier.image, 'big' with {'class': 'postPhoto'} %}
                    <h4 class="postTitle">{{ atelier.nom }}</h4>
                    <time class="postDate" datetime="{{atelier.date|date('Y-m-d')}}">
                        <span class="day">{{atelier.date|date('d')}}</span> 
                        <span class="month">{{atelier.date|date('F')|slice(0, 3)}}.</span>
                    </time>
                    <p class="postSummary">{{ crop_entete_texte(atelier.contenu)|raw }}</p>
                    <div class="postMoreText" style="display: none;">
                        {{ get_corps_texte(atelier.contenu)|raw }}
                        <p><b class="u-textColorRJ">Conditions :</b> 
                            {%if atelier.prix>0 and not atelier.reserveMembre%}
                            {{atelier.prix|replace({'.':','})}} euros pour les personnes non membres. 
                            {% endif %}
                            {%if atelier.prixMembre>0 %}
                            {{atelier.prixMembre|replace({'.':','})}} euros pour les membres. 
                            {% else %}
                                Gratuit pour les membres.
                            {% endif %}
                            {% if atelier.reserveMembre %}Réservé aux membres.{% endif %}<br>
                            <b class="u-textColorRJ">Clôture des réservations :</b> {{atelier.dateLimite|date('d/m/Y')}}</p>
                            {% if atelier.coordGeoLatitude is not empty and atelier.coordGeoLongitude is not empty %}
                                <p>
                                    <b class="u-textColorRJ">Lieu :</b>
                                    <a class="u-textBlack" href="https://maps.google.fr/maps?q={{ atelier.coordGeoLatitude }},{{ atelier.coordGeoLongitude }}" target="_blank">{{ atelier.adresse is not null ? atelier.adresse~', ' : '' }}{{ atelier.codePostal is not null ? atelier.codePostal~' ' : '' }}{{ atelier.ville is not null ? atelier.ville : '' }}</a>
                                </p>
                            {% endif %}
                            {% if atelier.urlInscription is not empty %}
                                <p><b>&gt; <a class="u-textBlack" href="{{ atelier.urlInscription }}" target="_blank">Je veux participer !</a></b></p>
                            {% endif %}
                    </div>
                    {% if atelier.contenu|length > 1 %}
                    <button class="seeMore" aria-hidden="true">En savoir plus</button>
                    {% endif %}
                </div>      
            </div>     
        {% endfor %}
            <div class="seeAllPosts"><a class="btn btn-blank-secondary" href="{{ path('ateliers', {'plus':'voir-tout'}) }}">Charger plus</a></div>
        </div>
        {% endif %}        
    </section>       
    
    {% include 'bandeau_devenir_membre.html.twig' %}
    {% include 'follow_us.html.twig' %}
    
{% endblock %}