{% extends "template/base_front.html.twig" %}
{% block body_class %}blogList{% endblock %}
{% block html_title %} - Nos articles de blog{% endblock %}
{% block main %}

    {% set hastagTitle = "Nos articles" %}
    {% set hastagList = "#Blog" %}
    {% include 'bandeau_hastag.html.twig' %}

    <section class="blog">
        <h2 class="sectionTitle">Derniers articles</h2>
        <div class="postsList u-fitted">
            {% for blog in blogs %}
                <div class="postItem shortPost blogItem">
                    <div class="postItemCtn blogItemCtn">
                        {% media blog.image, 'big' with {'class': 'postPhoto blogPhoto'} %}
                        <h4 class="postTitle blogTitle">{{ blog.nom }}</h4>
                        <div class="postSummary blogSummary">{{ blog.descriptionCourte }}</div>
                        <a class="postHover postLink" href="{{ path('blog_detail', {'slug': blog.slug}) }}" title="Voir l'article : {{ blog.nom }}"><span class="btn btn-blank" aria-hidden="true">Voir l'article</span></a>
                    </div>
                </div>
            {% endfor %}

            <div class="seeAllPosts"><a class="btn btn-blank-secondary" href="{{ path('blog', {'plus':'voir-tout'}) }}">Charger plus</a></div>
        </div>
    </section>

    {% include 'bandeau_devenir_membre.html.twig' %}
    {% include 'follow_us.html.twig' %}
    
{% endblock %}