{% extends "template/base_front.html.twig" %}
{% block body_class %}lessons{% endblock %}
{% block html_title %}– Les cours de japonais et de culture japonaise : calligraphie, art de la cérémonie du thé, yoga, préparation au JLPT{% endblock %}
{% block main %}
    {% set hastagTitle = "Nos activités" %}
    {% set hastagList = "#Cours" %}
    {% include 'bandeau_hastag.html.twig' %}

    <section class="about section u-fitted">
        <h2 class="sectionTitle">Les cours</h2>
        <div class="sectionChapo u-textCenter aboutText">
            <p>Grâce aux cours de Rouen Japon, vous pourrez apprendre le japonais, pratiquer la calligraphie, le yoga ou vous initier à l'art de la cérémonie du thé.<br>
                Les enfants pourront également découvrir la langue et la culture japonaises tout en s'amusant.<br>
                Ci-dessous les différents cours pour la saison 2017-2018.</p>
        </div>
    </section>

    {% if cours is not empty %}
        {% for cour in cours %}
            <a id="{{ cour.ancre }}"></a>
            <section class="section u-fitted">
                <div class="grid-2">
                    <div><img src="{% path cour.image, 'big' %}" alt="" width="580" height="435"></div>
                    <div>
                        <h3 class="sectionSubTitle">{{ cour.titre }}</h3>
                        <div class="sectionChapo">
                            {% if cour.annule %}
                                {% if cour.messageAnnulation is not empty %}
                                    <p>{{ cour.messageAnnulation }}</p>
                                {% endif %}
                            {% else %}
                                {% set stringProf = '' %}
                                {% if cour.professeurs is not empty %}
                                    {% set stringProf = ' par ' %}
                                    {% for prof in cour.professeurs %}
                                        {% set prof_toString = prof %}
                                        {% if prof.website is not empty %}
                                            {% set prof_toString = '<a href="'~prof.website~'" target="_blank">'~prof~'</a>' %}
                                        {% endif %}
                                        {% if loop.first %}
                                            {% set stringProf = stringProf~' '~prof_toString %}
                                        {% elseif loop.last %}
                                            {% set stringProf = stringProf~' et '~prof_toString %}
                                        {% else %}
                                            {% set stringProf = stringProf~', '~prof_toString %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {{ cour.amorce is empty ? '' : cour.amorce|raw }}
                                <p>
                                    Les cours sont dispensés{{ cour.creneau is empty ? '' : ' '~cour.creneau }} à la <strong>maison des associations Saint Sever (10-12 rue Saint Julien à Rouen)</strong>{{ stringProf|raw }}.
                                </p>
                                {% if cour.bientotComplet %}
                                    <p class="u-warning">// Plus que quelques places disponibles ! ///</p>
                                {% endif %}

                                {% if cour.complet %}
                                    <p class="u-warning">// Les cours sont complets ///</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="japaneseText sectionText">
                            {% if cour.details is not empty %}
                                <ul class="u-ul-colorRJ">
                                    {% for detail in cour.details %}
                                        <li><b>{{ detail.nom }} :</b> {{ detail.contenu }}{% if detail.complet %} - <b class="u-warning">COMPLET</b>{% endif %}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if cour.note is not empty %}
                                <p class="u-note">*{{ cour.note }}</p>
                            {% endif %}
                            <strong class="conditions">Conditions</strong>
                            <p>Pour suivre ce cours, il vous faut <b><a href="{{ lien_adhesion() }}" target="_blank">adhérer à l'association</a></b> et vous acquitter du montant de la cotisation de 20€.</p>
                            <p>Le montant des cours pour la saison est fixé à {{ cour.prix }}€ pour l'année (paiement au comptant ou prélèvement automatique mensuel).</p>
                            {% if cour.conditionParticuliere is not empty %}
                                <p>{{ cour.conditionParticuliere }}</p>
                            {% endif %}
                            <p>Si vous avez d'autres questions, vous pouvez nous les poser via notre <a href="{{path('contact')}}">formulaire de contact.</a></p>
                            <p>
                                {% if cour.lienPdf is not empty %}
                                    <a class="btn" href="{{ cour.lienPdf }}" target="_blank">Voir le calendrier</a>
                                {% endif %}
                                {% if cour.lienInscription is not empty %}
                                    <a class="btn" href="{{ cour.lienInscription }}" target="_blank">S'incrire</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endif %}

    {% include 'bandeau_devenir_membre.html.twig' %}
    {% include 'follow_us.html.twig' %}
    
{% endblock %}