{% extends "template/base_front.html.twig" %}
{% block body_class %}lessons{% endblock %}
{% block html_title %} - Les cours{% endblock %}
{% block main %}
    {% set hastagTitle = "Nos activités" %}
    {% set hastagList = "#Cours" %}
    {% include 'bandeau_hastag.html.twig' %}

    <section class="about section u-fitted">
        <h2 class="sectionTitle">Les cours</h2>
        <div class="sectionChapo u-textCenter aboutText">
            <p>Grâce aux cours de Rouen Japon, vous pourrez apprendre le japonais, pratiquer la calligraphie ou vous initier à l'art de la cérémonie du thé.<br>
                Les enfants pourront également découvrir la langue et la culture japonaises tout en s'amusant.<br>
                Ci-dessous les différents cours pour la saison 2017-2018.</p>
        </div>
    </section>

    <a id="langue"></a>
    <section class="japanese section u-fitted">
        <div class="grid-2">
            <div><img src="{{ asset('medias/img/cours-japonais.jpg') }}" alt="" width="580" height="435"></div>
            <div>
                <h3 class="sectionSubTitle">Apprendre le japonais</h3>
                <div class="sectionChapo">
                    <p>Rouen Japon vous propose depuis 2010 d'apprendre le japonais. Les cours sont dispensés à la <strong>maison des associations Saint Sever (10-12 rue Saint Julien à Rouen)</strong> par Akari Fujino, Atsuko Kiefer, Seiko Petiton et Adrien Becam..</p>
                </div>

                <div class="japaneseText sectionText">
                    <p>La répartition des cours évolue chaque année. Elle vous sera communiquée avant la rentrée.</p>
                    {#<ul class="u-ul-colorRJ">#}
                        {#<li><b>Débutants :</b> soit le mercredi à 20H, soit le samedi à 9h</li>#}
                        {#<li><b>2ème année :</b> soit le mardi à 20h, soit le samedi à 10h30</li>#}
                        {#<li><b>3ème année :</b> le samedi à 10h30</li>#}
                        {#<li><b>4ème année et supérieures :</b> le jeudi à 20h</li>#}
                    {#</ul>#}
                    <p class="u-note">*La détermination du niveau des élèves revient au professeur</p>

                    <strong class="conditions">Conditions</strong>
                    <p>Pour suivre les cours de japonais, il vous faut <b><a href="https://www.assoconnect.com/association-rouen-japon/billetterie/offre/63980-z-adhesion-saison-2017-2018" target="_blank">adhérer à l'association</a></b> et vous acquitter du montant de la cotisation de 20€.</p>
                    <p>Le montant des cours pour la saison est fixé à 380€ pour l'année (paiement au comptant ou prélèvement automatique mensuel).</p>
                    <p>Si vous avez d'autres questions, vous pouvez nous les poser via notre <a href="{{path('contact')}}">formulaire de contact.</a></p>
                </div>
            </div>
        </div>                
    </section>


    <a id="calligraphie"></a>
    <section class="calligraphy section u-fitted">
        <div class="grid-2">
            <div><img src="{{ asset('medias/img/cours-calligraphie.jpg') }}" alt="" width="580" height="435"></div>
            <div>
                <h3 class="sectionSubTitle">Pratiquer la calligraphie</h3>
                <div class="calligraphyChapo sectionChapo">
                    <p>L'association Rouen Japon vous propose des cours de calligraphie depuis 2015. Ils se dérouleront le <strong>lundi de 20h00 à 21h30 à la maison des associations de Saint Sever (10-12 rue Saint Julien à Rouen)</strong> et seront animés par Mme Motoko Sekido.</p>
                </div>
                {#<p class="u-warning">// Les cours sont complets ///</p>#}

                <div class="japaneseText sectionText">
                    <strong class="conditions">Conditions</strong>
                    <p>Le montant des cours est fixé à 272€ pour l'année (paiement au comptant ou prélèvement automatique mensuel).</p>
                    <p>Pour suivre les cours de calligraphie, il faut également <b><a href="https://www.assoconnect.com/association-rouen-japon/billetterie/offre/63980-z-adhesion-saison-2017-2018" target="_blank">adhérer à l'association</a></b> et vous acquitter du montant de la cotisation de 20€.</p>
                </div>
            </div>
        </div>                
    </section>


    <a id="the"></a>
    <section class="teaCeremony section u-fitted">
        <div class="grid-2">
            <div><img src="{{ asset('medias/img/cours-ceremonie-du-the.jpg') }}" alt="" width="580" height="435"></div>
            <div>
                <h3 class="sectionSubTitle">S'initier à la cérémonie du thé</h3>
                <div class="sectionChapo">
                    <p>Les cours de cérémonie du thé se déroulent un <strong>dimanche par mois de 14h30 à 15h30 ou de 15h30 à 17h à la maison des associations de Saint Sever (10-12 rue Saint Julien à Rouen)</strong> et sont animés par Mme Kazuyo Coineau, maitresse de cérémonie du thé.</p>
                </div>

                {#<p class="u-warning">// Plus que quelques places disponibles ! ///</p>#}

                <div class="japaneseText sectionText">
                    <p>Calendrier prévisionnel* :</p>
                    <ul class="u-ul-colorRJ">
                        <li><b>à venir</b></li>
                    </ul>
                    <p class="u-note">*en cas de modification, vous serez avertis par mail</p>

                    <strong class="conditions">Conditions</strong>
                    <p>Le montant des cours est fixé à 136€ pour l'année (paiement au comptant ou prélèvement automatique mensuel).</p>
                    <p>Pour suivre les cours de cérémonie du thé, il faut également <b><a href="https://www.assoconnect.com/association-rouen-japon/billetterie/offre/63980-z-adhesion-saison-2017-2018" target="_blank">adhérer à l'association</a></b> et vous acquitter du montant de la cotisation de 20€.</p>
                </div>
            </div>
        </div>                
    </section>


    <a id="enfants"></a>
    <section class="enfants section u-fitted">
        <div class="grid-2">
            <div><img src="{{ asset('medias/img/cours-enfant.jpg') }}" alt="" width="580" height="435"></div>
            <div>
                <h3 class="sectionSubTitle">Le japonais pour les enfants</h3>
                <div class="sectionChapo">
                    <p>Les cours sont ouverts aux enfants de 6 à 12 ans. Ils se déroulent un <strong>mercredi sur deux de 14h30 à 15h30 à la maison des associations de Saint Sever (10-12 rue Saint Julien à Rouen)</strong>. Ils sont animés par Akira Hirakawa et Atsuko Kiefer.</p>
                </div>

                <div class="japaneseText sectionText">
                    <p>Calendrier prévisionnel* :</p>
                    <ul class="u-ul-colorRJ">
                        <li><b>à venir</b></li>
                    </ul>
                    <p class="u-note">*en cas de modification, vous serez avertis par mail</p>

                    <strong class="conditions">Conditions</strong>
                    <p>Le montant des cours est fixé à 232€ pour l'année (paiement au comptant ou prélèvement automatique mensuel).</p>
                    <p>Pour inscrire votre enfant aux cours de japonais, il faut qu'il <b><a href="https://www.assoconnect.com/association-rouen-japon/billetterie/offre/63980-z-adhesion-saison-2017-2018" target="_blank">adhérer à l'association</a></b> et que vous vous acquittiez du montant de la cotisation de 20€ (10€ si vous êtes vous-mêmes adhérent).</p>
                </div>
            </div>
        </div>
    </section>

    {% include 'bandeau_devenir_membre.html.twig' %}
    {% include 'follow_us.html.twig' %}
    
{% endblock %}