{% extends "template/base_front.html.twig" %}
{% block body_class %}events outings{% endblock %}
{% block html_title %} - Les sorties{% endblock %}
{% block main %}
    
    {% set hastagTitle = "Nos activités" %}
    {% set hastagList = "#Sorties" %}
    {% include 'bandeau_hastag.html.twig' %}

    <section class="outingsIntro section u-fitted">
        <div class="grid-2">
            <div><img src="{{ asset('medias/img/sorties.jpg') }}" alt="" width="580" height="435"></div>
            <div>
                <h2 class="sectionTitle">Les sorties</h2>
                <div class="sectionChapo">
                    <p>Avec Rouen Japon, on fait aussi des sorties ! On va au musée voir des expositions, on va à des conférences, on visite des jardins... Tous les ans on vous organise des petites sorties, très souvent à tarifs préférentiels*.</p>
                </div>

                <div class="sectionText">
                    <p>Comme pour les ateliers, le nombre et le type de sorties peut varier d'une saison à l'autre, c'est pourquoi nous vous invitons à repasser régulièrement par ici, consulter notre calendrier et/ou nous suivre <a href="#">ici</a> et <a href="#">là</a>, et pourquoi pas de vous abonner à notre <a href="#">Newsletter</a>.</p>
                    <p><b>Pour cette saison 2016-2017</b> par exemple, Rouen Japon pense vous faire bénéficier de quelques sorties intéressantes :</p>
                    <ul class="u-ul-colorRJ">
                        <li><b>Expo Ghibli @ Art Ludique</b> (à programmer)</li>
                        <li><b>Conférence sur les samouraï @ Musée XXX</b> (à programmer)</li>
                    </ul>
                    <p>Presque chaque sortie est ouverte à tous, dans la limite des places disponibles et se règle à l'unité (évidemment, les tarifs diffèrent en fonction du fait que vous soyez adhérent(e) ou non).</p>
                    <p>Allez, mets ton kimono on sort !</p>
                    <p class="u-note">* À condition de faire partie de l'association :-)</p>
                </div>
            </div>
        </div>                
    </section>

    <section class="comingEvents section">
        {% if sorties is empty %}
        <div class="noWorkshop u-textCenter">
            <b class="nothing">Aucune sortie n'est encore programmée pour le moment...</b>
            <p>Ça ne devrait pourtant pas tarder !</p>            
        </div>
        {% else %} 
        <h2 class="sectionTitle">Sortie&(s) à venir</h2>
        {% for sortie in sorties %}
            <div class="postItem shortPost">
                <div class="postItemCtn">
                    {% media sortie.image, 'big' with {'class': 'postPhoto'} %}
                    <h4 class="postTitle">{{ sortie.nom }}</h4>
                    <time class="postDate" datetime="{{sortie.dateDebut|date('Y-m-d')}}">
                        <span class="day">{{sortie.dateDebut|date('d')}}</span> 
                        <span class="month">{{sortie.dateDebut|date('F')|slice(0, 3)}}.</span>
                    </time>
                    <p class="postSummary">{% if sortie.contenu|length > 99 %}{{ sortie.contenu|raw|slice(0, 100) }}{% else %}{{ sortie.contenu|raw }}{% endif %}</p>
                    {% if sortie.contenu|length > 99 %}
                    <div class="postMoreText" style="display: none;">
                        {{ sortie.contenu|raw }}
                        <p><b class="u-textColorRJ">Conditions :</b> 
                            {%if sortie.prix>0 %}
                            {{sortie.prix|replace({'.':','})}} euros pour les personnes non membres. 
                            {% endif %}
                            {%if sortie.prixMembre>0 %}
                            {{sortie.prixMembre|replace({'.':','})}} euros pour les membres. 
                            {% endif %}
                            {% if sortie.reserveMembre %}Réservé aux membres.{% endif %}<br>
                            <b class="u-textColorRJ">Clôture des réservations :</b> {{sortie.dateLimite|date('d/m/Y')}}</p>
                    </div>
                    <button class="seeMore" aria-hidden="true">En savoir plus</button> 
                    {% endif %}                       
                </div>
            </div>
        {% endfor %}
        {% endif %}        
    </section>

    {#% include 'bandeau_devenir_membre.html.twig' %#}
    {% include 'follow_us.html.twig' %}
    
{% endblock %}