<div class="postItem shortPost eventItem">
    <div class="postItemCtn eventItemCtn">
        {% media evenement.image, 'big' with {'class': 'postPhoto eventPhoto'} %}                    
        <h4 class="postTitle eventTitle">{{ evenement.nom }}</h4>
        <time class="postDate eventDate" datetime="{{evenement.dateDebut|date('Y-m-d')}}">
            <span class="day">{{evenement.dateDebut|date('d')}}</span> 
            <span class="month">{{evenement.dateDebut|date('F')|slice(0, 3)}}.</span>
        </time>
        <p class="postSummary eventSummary">{% if evenement.contenu|length > 99 %}{{ crop_entete_texte(evenement.contenu)|raw }}{% else %}{{ evenement.contenu|raw }}{% endif %}</p>
        {% if evenement.contenu|length > 99 %}
        <div class="postMoreText" style="display: none;">
            {{ get_corps_texte(evenement.contenu)|raw }}<br>
            {% if evenement.dateDebut|date('d/m/Y') != evenement.dateFin|date('d/m/Y') %}
            <b class="u-textColorRJ">Du {{evenement.dateDebut|date('d/m/Y')}} au {{evenement.dateFin|date('d/m/Y')}}</b>
            {% endif %}
        </div>
            {% if evenement.contenu|length > 1 %}
                <button class="seeMore" aria-hidden="true">En savoir plus</button>
            {% endif %}
        {% endif %}
    </div>
</div>