<section class="lastNews u-fitted">
    <h3 class="lastNewsTitle">Actualités</h3>
    <div class="postsList newsList">
    {% for actualite in actualites %}       
        <div class="postItem shortPost newsItem">
            <div class="postItemCtn newsItemCtn">
                {% media actualite.image, 'big' with {'class': 'postPhoto newsPhoto'} %}                    
                <h4 class="postTitle newsTitle">{{ actualite.nom }}</h4>                    
                <p class="postSummary newsSummary">{% if actualite.contenu|length > 99 %}{{ actualite.contenu|slice(0, 100)|raw }}{% else %}{{ actualite.contenu|raw }}{% endif %}</p>
                {% if actualite.contenu|length > 99 %}
                <div class="postMoreText" style="display: none;">
                    {{ actualite.contenu|raw }}
                </div>
                <button class="seeMore" aria-hidden="true">En savoir plus</button>
                {% endif %}
            </div>
        </div>
    {% endfor %}    
        <div class="seeAllPosts"><a class="btn btn-blank-secondary" href="{{path('actualites')}}">Voir toutes les actualités</a></div>
    </div>
</section>