{% if blog not empty %}
<section class="blog">
    <div class="u-fitted">
        <div class="postItem shortPost blogItem">
            <div class="postItemCtn blogItemCtn">
                {% media blog.image, 'big' with {'class': 'postPhoto blogPhoto'} %}
                <h4 class="postTitle blogTitle">{{ blog.nom }}</h4>
                <p class="postSummary blogSummary">{{ blog.descriptionCourte }}</p>
                <a class="postHover postLink" href="{{ path('blog_detail', {'slug': blog.slug}) }}" title="Voir l'article : {{ blog.nom }}"><span class="btn btn-blank" aria-hidden="true">Voir l'article</span></a>
            </div>
        </div>
        <div class="seeAllPosts"><a class="btn btn-blank-secondary" href="{{ path('blog') }}">Voir tous les articles du blog</a></div>
    </div>
</section>
{% endif %}