{% extends "front/template/base_front.html.twig" %}
{% trans_default_domain 'front' %}
{% block body_class %}my_space{% endblock %}
{% set meta_title = 'my_space.dashboard.meta.profil_title'|trans %}
{% block html_title %}– {{ meta_title }}{% endblock %}
{% block og_meta %}
    {% include 'front/template/basique_meta_pages.html.twig' %}
{% endblock %}
{% block main %}
    {% set hastagTitle = 'my_space.dashboard.title'|trans %}
    {% set hastagList = "" %}
    {% include 'front/bandeau/bandeau_hastag.html.twig' %}

    {% include 'front/users/my_space/nav_barre.html.twig' %}
    <section class="section u-fitted">
        <h2 class="sectionTitle">{{ 'user.profil.title'|trans }}</h2>
        {% include 'front/template/flash_messages.html.twig' %}
        <div>
            {{ form_start(form, {'attr': { 'class': 'profil-form' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'user.profil.button.submit'|trans }}" class="btn" />
            </div>
            {{ form_end(form) }}
            </div>
    </section>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            app.headerUserController.defaultAction.init();
        });
    </script>
{% endblock %}