{% extends "front/template/base_front.html.twig" %}
{% trans_default_domain 'front' %}
{% block body_class %}events workshops{% endblock %}
{% set meta_title = 'atelier.meta.title'|trans %}
{% block html_title %} - {{ meta_title }}{% endblock %}
{% block og_meta %}
    {% include 'front/template/basique_meta_pages.html.twig' %}
{% endblock %}
{% block main %}
    
    {% set hastagTitle = 'general.title.activites'|trans %}
    {% set hastagList = "#"~'activities.title.ateliers'|trans %}
    {% include 'front/bandeau/bandeau_hastag.html.twig' %}

    <section class="workshopsIntro section u-fitted">
        <div class="grid-2">
            <div><img src="{{ asset('medias/img/ateliers.jpg') }}" alt="" width="580" height="435"></div>
            <div>
                <h2 class="sectionTitle">{{ 'atelier.presentation.title'|trans }}</h2>
                <div class="sectionChapo">
                    <p>{{ 'atelier.presentation.header'|trans|raw }}</p>
                </div>

                <div class="sectionText">
                    {{ 'atelier.presentation.texte'|trans({'%facebook_link%': lien_facebook(), '%twitter_link%': lien_twitter()})|raw }}
                    <p class="u-note">{{ 'atelier.presentation.note'|trans }}</p>
                </div>
            </div>
        </div>                
    </section>

    <section class="comingEvents section">
        {% if ateliers is empty %}
        <div class="noWorkshop u-textCenter">
            <b class="nothing">{{ 'atelier.none.title'|trans }}</b>
            <p>{{ 'atelier.none.description'|trans }}</p>
            {% include 'front/newsletter/newsletter_form_light.html.twig' %}
        </div>
        {% else %} 
        <h2 class="sectionTitle">{{ 'general.title.activites'|trans }}</h2>
        <div class="postsList u-fitted">        
        {% for atelier in ateliers %}  
            <div class="postItem shortPost">
                <div class="postItemCtn">
                    {% media atelier.image, 'reference' with {'class': 'postPhoto'} %}
                    <h4 class="postTitle">{{ atelier.nom }}</h4>
                    <time class="postDate" datetime="{{atelier.date|date('Y-m-d')}}">
                        <span class="day">{{atelier.date|date('d')}}</span> 
                        <span class="month">{{atelier.date|date('F')|slice(0, 3)}}.</span>
                    </time>
                    <div class="postSummary">{{ crop_entete_texte(atelier.contenu)|raw }}</div>
                    <div class="postMoreText" style="display: none;">
                        {{ get_corps_texte(atelier.contenu)|raw }}
                        <p>
                            <b class="u-textColorRJ">{{ 'conditions.free_for_members'|trans }}</b>
                            {%if atelier.prix>0 and not atelier.reserveMembre%}
                            {{atelier.prix|replace({'.':','})}}{{ 'conditions.member_prix'|trans }}
                            {% endif %}
                            {%if atelier.prixMembre>0 %}
                            {{atelier.prixMembre|replace({'.':','})}}{{ 'conditions.prix'|trans }}
                            {% else %}
                                {{ 'conditions.free_for_members'|trans }}
                            {% endif %}
                            {% if atelier.reserveMembre %}{{ 'general.items.reserver'|trans }}{% endif %}<br>
                            <b class="u-textColorRJ">{{ 'general.items.cloture'|trans }}</b> {{atelier.dateLimite|date('d/m/Y')}}
                        </p>
                        {% if atelier.coordGeoLatitude is not empty and atelier.coordGeoLongitude is not empty %}
                            <p>
                                <b class="u-textColorRJ">{{ 'general.items.lieu'|trans }}</b>
                                <a class="u-textBlack" href="https://maps.google.fr/maps?q={{ atelier.coordGeoLatitude }},{{ atelier.coordGeoLongitude }}" target="_blank">{{ atelier.adresse is not null ? atelier.adresse~', ' : '' }}{{ atelier.codePostal is not null ? atelier.codePostal~' ' : '' }}{{ atelier.ville is not null ? atelier.ville : '' }}</a>
                            </p>
                        {% endif %}
                        {% if atelier.urlInscription is not empty %}
                            <p><b>&gt; <a class="u-textBlack" href="{{ atelier.urlInscription }}" target="_blank">{{ 'general.button.participer'|trans }}</a></b></p>
                        {% endif %}
                    </div>
                    {% if atelier.contenu|length > 1 %}
                    <button class="seeMore" aria-hidden="true">{{ 'general.button.know_more'|trans }}</button>
                    {% endif %}
                </div>      
            </div>     
        {% endfor %}
            {% include 'front/template/button_voir_plus_moins.html.twig' %}
        </div>
        {% endif %}        
    </section>       
    
    {% include 'front/bandeau/bandeau_devenir_membre.html.twig' %}
    {% include 'front/bandeau/follow_us.html.twig' %}
    
{% endblock %}