{% extends "front/template/base_front.html.twig" %}
{% trans_default_domain 'front' %}
{% block body_class %}events outings{% endblock %}
{% set meta_title = 'sortie.meta.title'|trans %}
{% block html_title %} - {{ meta_title }}{% endblock %}
{% block og_meta %}
    {% include 'front/template/basique_meta_pages.html.twig' %}
{% endblock %}
{% block main %}
    
    {% set hastagTitle = 'general.title.activites'|trans %}
    {% set hastagList = "#"~'activities.title.sorties'|trans %}
    {% include 'front/bandeau/bandeau_hastag.html.twig' %}

    <section class="outingsIntro section u-fitted">
        <div class="grid-2">
            <div><img src="{{ asset('medias/img/sorties.jpg') }}" alt="" width="580" height="435"></div>
            <div>
                <h2 class="sectionTitle">{{ 'sortie.presentation.title'|trans }}</h2>
                <div class="sectionChapo">
                    <p>{{ 'sortie.presentation.header'|trans|raw }}</p>
                </div>

                <div class="sectionText">
                    {{ 'sortie.presentation.texte'|trans({'%facebook_link%': lien_facebook(), '%twitter_link%': lien_twitter()}))|raw }}
                    <p class="u-note">{{ 'sortie.presentation.note'|trans }}</p>
                </div>
            </div>
        </div>                
    </section>

    <section class="comingEvents section">
        {% if sorties is empty %}
        <div class="noWorkshop u-textCenter">
            <b class="nothing">{{ 'sortie.none.title'|trans }}</b>
            <p>{{ 'sortie.none.description'|trans }}</p>
            {% include 'front/newsletter/newsletter_form_light.html.twig' %}
        </div>
        {% else %} 
        <h2 class="sectionTitle">{{ 'sortie.title'|trans }}</h2>
        <div class="postsList u-fitted">
            {% for sortie in sorties %}
                <div class="postItem shortPost">
                    <div class="postItemCtn">
                        {% media sortie.image, 'reference' with {'class': 'postPhoto'} %}
                        <h4 class="postTitle">{{ sortie.nom }}</h4>
                        <time class="postDate" datetime="{{ sortie.date|date('Y-m-d') }}">
                            <span class="day">{{ sortie.date|date('d') }}</span>
                            <span class="month">{{ sortie.date|date('F')|slice(0, 3) }}.</span>
                        </time>
                        <div class="postSummary">{{ crop_entete_texte(sortie.contenu)|raw }}</div>
                        <div class="postMoreText" style="display: none;">
                            {{ get_corps_texte(sortie.contenu)|raw }}
                            <p>
                                <b class="u-textColorRJ">{{ 'conditions.title'|trans }}</b>
                                {%if sortie.prix>0 and not sortie.reserveMembre %}
                                {{ sortie.prix|replace({'.':','}) }}{{ 'conditions.prix'|trans }}
                                {% endif %}
                                {%if sortie.prixMembre>0 %}
                                    {{ sortie.prixMembre|replace({'.':','}) }}{{ 'conditions.member_prix'|trans }}
                                {% else %}
                                    {{ 'conditions.free_for_members'|trans }}
                                {% endif %}
                                {% if sortie.reserveMembre %}{{ 'general.items.reserver'|trans }}{% endif %}<br>
                                <b class="u-textColorRJ">{{ 'general.items.cloture'|trans }}</b> {{ sortie.dateLimite|date('d/m/Y') }}
                            </p>
                            {% if sortie.urlInscription is not empty %}
                                <p><b>&gt; <a class="u-textBlack" href="{{ sortie.urlInscription }}" target="_blank">{{ 'general.button.participer'|trans }}</a></b></p>
                            {% endif %}
                        </div>
                        {% if sortie.contenu|length > 1 %}
                        <button class="seeMore" aria-hidden="true">{{ 'general.button.know_more'|trans }}</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% include 'front/template/button_voir_plus_moins.html.twig' %}
        </div>
        {% endif %}  
    </section>

    {% include 'front/bandeau/bandeau_devenir_membre.html.twig' %}
    {% include 'front/bandeau/follow_us.html.twig' %}
    
{% endblock %}