{% extends "front/template/base_front.html.twig" %}
{% trans_default_domain 'front' %}
{% set meta_title = 'meta.title.home'|trans %}
{% block html_title %}| {{ meta_title }}{% endblock %}
{% block og_meta %}
    {% include 'front/template/basique_meta_pages.html.twig' %}
{% endblock %}
{% block body_class %}home{% endblock %}
{% block main %}
    {% include 'front/bandeau/bandeau_jap.html.twig' %}

    <section class="activities">
        <div class="u-fitted">
            <div class="activitiesList grid-3">
                <div class="activityItem lessons">
                    <h3 class="activityTitle">{{ 'activities.title.cours'|trans }}</h3>
                    <p class="activityText">{{ 'activities.text.cours'|trans }}</p>
                    <a class="btn btn-blank" href="{{path('cours')}}">{{ 'activities.more'|trans }}</a>
                </div>
                <div class="activityItem workshops">
                    <h3 class="activityTitle">{{ 'activities.title.ateliers'|trans }}</h3>
                    <p class="activityText">{{ 'activities.text.ateliers'|trans }}</p>
                    <a class="btn btn-blank" href="{{path('ateliers')}}">{{ 'activities.more'|trans }}</a>
                </div>
                <div class="activityItem outings">
                    <h3 class="activityTitle">{{ 'activities.title.sorties'|trans }}</h3>
                    <p class="activityText">{{ 'activities.text.sorties'|trans }}</p>
                    <a class="btn btn-blank" href="{{path('sorties')}}">{{ 'activities.more'|trans }}</a>
                </div>
            </div>
        </div>
    </section>

    {% include 'front/evenement/top_evenements.html.twig' %}

    {% include 'front/actualite/top_actualites.html.twig' %}

    {% if is_actif_blog() %}
        {% include 'front/blog/top_blog.html.twig' %}
    {% endif %}
    {% include 'front/bandeau/follow_us.html.twig' %}
    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('fullcalendar/lib/moment.min.js') }}"></script>
    <script src="{{ asset('fullcalendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('fullcalendar/locale/fr.js') }}"></script>
    <script>
        var events = {{ (dates is defined) ? dates|json_encode|raw : '""' }};
    </script>
{% endblock %}