{% extends "front/template/base_front.html.twig" %}
{% trans_default_domain 'front' %}
{% block body_class %}lessons{% endblock %}
{% set meta_title = 'cour.meta.title'|trans %}
{% block html_title %} - {{ meta_title }}{% endblock %}
{% block og_meta %}
    {% include 'front/template/basique_meta_pages.html.twig' %}
{% endblock %}
{% block main %}
    {% set hastagTitle = 'general.title.activites'|trans %}
    {% set hastagList = "#"~'activities.title.cours'|trans %}
    {% include 'front/bandeau/bandeau_hastag.html.twig' %}

    <section class="about section u-fitted">
        <h2 class="sectionTitle">{{ 'cour.presentation.title'|trans }}</h2>
        <div class="sectionChapo u-textCenter aboutText">
            <p>{{ 'cour.presentation.hedaer'|trans|raw }}</p>
        </div>
    </section>

    {% if cours is not empty %}
        {% for cour in cours %}
            <a id="{{ cour.ancre }}"></a>
            <section class="section u-fitted">
                <div class="grid-2">
                    <div><img src="{% path cour.image, 'reference' %}" alt="" width="580" height="435"></div>
                    <div>
                        <h3 class="sectionSubTitle">{{ cour.titre }}</h3>
                        <div class="sectionChapo">
                            {% if cour.annule %}
                                {% if cour.messageAnnulation is not empty %}
                                    <p>{{ cour.messageAnnulation }}</p>
                                {% endif %}
                            {% else %}
                                {% set stringProf = '' %}
                                {% if cour.professeurs is not empty %}
                                    {% set stringProf = 'cour.professor.by'|trans %}
                                    {% for prof in cour.professeurs %}
                                        {% set prof_toString = prof %}
                                        {% if prof.website is not empty %}
                                            {% set prof_toString = '<a href="'~prof.website~'" target="_blank">'~prof~'</a>' %}
                                        {% endif %}
                                        {% if loop.first %}
                                            {% set stringProf = stringProf~' '~prof_toString %}
                                        {% elseif loop.last %}
                                            {% set stringProf = stringProf~'cour.professor.and'|trans~prof_toString %}
                                        {% else %}
                                            {% set stringProf = stringProf~', '~prof_toString %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {{ cour.amorce is empty ? '' : cour.amorce|raw }}
                                <p>
                                    {{ 'cour.give_by'|trans }}{{ cour.creneau is empty ? '' : ' '~cour.creneau }}{{ 'cour.where'|trans }}<strong>{{ adresse_cours() }}</strong>{{ stringProf|raw }}.
                                </p>
                                {% if cour.bientotComplet %}
                                    <p class="u-warning">{{ 'cour.bientot_complet'|trans }}</p>
                                {% endif %}

                                {% if cour.complet %}
                                    <p class="u-warning">{{ 'cour.complet'|trans }}</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="japaneseText sectionText">
                            {% if cour.details is not empty %}
                                <ul class="u-ul-colorRJ">
                                    {% for detail in cour.details %}
                                        <li><b>{{ detail.nom }} :</b> {{ detail.contenu }}{% if detail.complet %} - <b class="u-warning">{{ 'cour.detail_complet'|trans }}</b>{% endif %}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if cour.note is not empty %}
                                <p class="u-note">*{{ cour.note }}</p>
                            {% endif %}
                            <strong class="conditions">{{ 'conditions.title'|trans }}</strong>
                            <p>{{ 'cour.adherer'|trans({'%adhesion_link%': lien_adhesion(), '%cotisation_amount%': montant_cotisation()})|raw }}</p>
                            <p>{{ 'cour.montant'|trans({'%price%': cour.prix}) }}</p>
                            {% if cour.conditionParticuliere is not empty %}
                                <p>{{ cour.conditionParticuliere }}</p>
                            {% endif %}
                            <p>{{ 'cour.contact_form_link'|trans({'%contact_link%': path('contact')})|raw }}</p>
                            <p>
                                {% if cour.lienPdf is not empty %}
                                    <a class="btn" href="{{ cour.lienPdf }}" target="_blank">{{ 'cours.button.calendrier'|trans }}</a>
                                {% endif %}
                                {% if cour.lienInscription is not empty %}
                                    <a class="btn" href="{{ cour.lienInscription }}" target="_blank">{{  'cours.button.inscription'|trans }}</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endif %}

    {% include 'front/bandeau/bandeau_devenir_membre.html.twig' %}
    {% include 'front/bandeau/follow_us.html.twig' %}
    
{% endblock %}