<!doctype html>
<html class="no-js" lang="fr-FR">
    <head>
        {% trans_default_domain 'front' %}
        <title>{{ 'general.title.site'|trans }} {% block html_title %}{% endblock %}</title>
        {% set defaut_description = 'meta.description.home'|trans %}
        {% set defaut_image = asset('medias/favicons/favicon-32x32.png') %}
        {% if app.request.attributes.get('_route') is not empty %}
        {% set defaut_url = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        {% else %}
            {% set defaut_url = url('home') %}
        {% endif %}
        {% set defaut_type = "website" %}
        {% set defaut_locale = "fr_FR" %}
        {% set facebook_id = get_facebook_id() %}
        {% include 'front/template/balises_meta.html.twig' %}
        {% block og_meta %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('medias/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('medias/favicons/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('medias/favicons/favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset('medias/favicons/manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('medias/favicons/safari-pinned-tab.svg') }}" color="#e30613">
        <link rel="image_src" href="{% block meta_image_src %}{{defaut_image }}{% endblock %}">

        <link rel="stylesheet" href="{{asset('css/app.css'|asset_version)}}">
        <link rel="stylesheet" href="{{ asset('fullcalendar/lib/cupertino/jquery-ui.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.print.min.css') }}" media="print" />

        {% if app.environment == 'prod' %}
        {#JS Grecaptcha#}
        <script src='https://www.google.com/recaptcha/api.js?hl=fr&render=explicit' async defer></script>
        {#END JS Grecaptcha#}
        {% endif %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <!--[if lt IE 10]>
            <p class="browserupgrade">Vous utilisez un navigateur <strong>déprécié</strong>. Veuillez faire une <a href="http://browsehappy.com/">mise à jour de votre navigateur</a> pour visualiser correctement notre site.</p>
        <![endif]-->
        {% include 'front/template/nav_barre.html.twig' %}
        {% if a_repondu_bandeau() == false  %}
            {% include 'front/template/cookies.html.twig' %}
        {% endif %}
        <main class="siteBody">
        {% block main %}{% endblock %}
        </main>
        {% if app.user == false %}
            {% include 'front/template/login.html.twig' %}
        {% endif %}
        {% include 'front/template/footer.html.twig' %}
        {% block javascript %}
            <script src="{{ asset('js/app.js'|asset_version) }}"></script>
            <script>
                $(document).ready(function(){
                    app.headerController.defaultAction.init();
                    app.cookieController.defaultAction.init();
                });
            </script>
        {% endblock %}
        {% include 'front/template/google_analytics.html.twig' %}
        {% include 'front/template/facebook_messenger.html.twig' %}
    </body>
</html>
