{% trans_default_domain 'front' %}
<footer class="siteFooter">
    <div class="siteFooterCtn u-fitted">
        <div class="footerItem footerAsso">
            <h3 class="footerTitle h3">{{ 'general.title.site'|trans }}</h3>
            <div class="footerText">
                <p>{{ 'footer.description.title'|trans }}</p>
                <ul>
                    {{ 'footer.description.list'|trans|raw }}
                </ul>
            </div>
            {% if lien_adhesion() is not empty and app.user == false %}
            <a class="assoMemberBtn btn" href="{{ lien_adhesion() }}" target="_blank">{{ 'general.button.be_member'|trans }}</a><br>
            {% endif %}
            <a class="seeMore" href="{{path('association')}}">{{ 'footer.button.see_more'|trans }}</a>
        </div>
        <div class="footerItem footerQuickLinks">
            <b class="footerTitle h3">{{ 'footer.quick_links'|trans }}</b>
            <ul class="footerQuickList u-ul-mute">
                <li class="footerQuickItem"><a class="footerQuickLink" href="/">{{ 'footer.home'|trans }}</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{ path('association') }}">{{ 'general.title.association'|trans }}</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{ path('ateliers') }}">{{ 'general.title.ateliers'|trans }}</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{ path('evenements') }}">{{ 'general.title.evenements'|trans }}</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{ path('actualites') }}">{{ 'general.title.actualites'|trans }}</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{ path('contact') }}">{{ 'general.title.contact'|trans }}</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{ path('association') }}#partenaires">{{ 'general.title.partenaires'|trans }}</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{ path('mentions_legales') }}">{{ 'general.title.m_legales'|trans }}</a></li>
            </ul>
            <a class="btn btn-blank" href="{{ path('presentation_japonaise') }}" lang="ja">{{ 'general.title.nihon'|trans }}</a>
        </div>
        {% if is_actif_blog() %}
            {% include 'front/blog/footer_blog.html.twig' %}
        {% endif %}
        <div class="footerItem footerContact">
            <b class="footerTitle h3">{{ 'general.title.contact'|trans }}</b>
            <div class="footerText">
                <p>{{ adresse_postal()|raw }}</p>
            </div>
            <a class="btn btn-blank btn-small" href="{{ path('contact') }}">{{ 'footer.button.send_message'|trans }}</a>
            <div class="contactSocial">
                {% if lien_facebook() is not empty %}
                    <a class="contactFacebook" href="{{ lien_facebook() }}" target="_blank"><span class="u-hiddenVisually">{{ 'general.social.facebook'|trans }}</span></a>
                {% endif %}
                {% if lien_twitter() is not empty %}
                    <a class="contactTwitter" href="{{ lien_twitter() }}" target="_blank"><span class="u-hiddenVisually">{{ 'general.social.twitter'|trans }}</span></a>
                {% endif %}
                <a class="contactRss" href="{{ path('flux_rss') }}" target="_blank"><span class="u-hiddenVisually">{{ 'general.social.rss'|trans }}</span></a>
            </div>
        </div>
    </div>
    <div class="siteCredits">
        <div class="u-fitted">{{ 'general.cright'|trans|raw }}</div>
    </div>
</footer>