{% trans_default_domain 'FOSUserBundle' %}
<div class="u-hidden" id="modal-login">
    <div class="modal-content">
        <form action="{{ path("fos_user_security_check") }}" method="post" role="form" data-async class="text-left js-form-login">
            <div class="modal-body">
                <div class="js-form_login_error">
                    <div class="alert alert-error"></div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ get_csrf_token() }}" />
                <div class="form-group container">
                    <label for="email">{{ 'security.login.username'|trans }}</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ get_last_username(app.session) }}" required="required" placeholder="username">
                </div>
                <div class="form-group container">
                    <label for="password">{{ 'security.login.password'|trans }}</label><br />
                    <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="********">
                </div>
                <div class="form-group container">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>