{# your template which is inluded in the config.yml (above)
   eg src/My/Location/Resources/views/Form/fields.html.twig #}
{% extends "OhGoogleMapFormTypeBundle:Form:google_maps.html.twig" %}

{% block oh_google_maps_html %}
    <div id="{{ id }}_container">
        <input type="text" id="{{ id }}_input" class="hidden js-search-emplacement-input" /><button id="{{ id }}_search_button" class="btn">{{ 'atelier.positon.search'|trans }}</button><br /><a href="#" id="{{ id }}_current_position">{{ 'musee.positon.current_position'|trans }}</a>
        <div id="{{ id }}_map_canvas" class="gmap" style="width: {{ map_width }}; height: {{ map_height }}"></div>
        <div id="{{ id }}_error"></div>
    </div>
{% endblock %}

{% block oh_google_maps_fields %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block oh_google_maps_javascripts %}
    {% if include_jquery %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% endif %}
    {% if include_gmaps_js %}
        <script type="text/javascript" src="//maps.google.com/maps/api/js?language={{ app.request.locale }}{{ gmaps_apikey|length ? '&key=' ~ gmaps_apikey : '' }}"></script>
    {% endif %}

    <script type="text/javascript" src="{{ asset('js/jquery.ohgooglemaps.js'|asset_version) }}"></script>
{% endblock %}
