{% trans_default_domain 'front' %}
<section class="events">
    {% set coming = 0 %}
    {% set past = 0 %}
    {% for evenementOuKouryukai in evenementsOuKouryukai %}
        {% if evenementOuKouryukai is not empty %}
            {% set date_to_compare = evenementOuKouryukai.dateFin is defined ? evenementOuKouryukai.dateFin : evenementOuKouryukai.date %}
            {% if date_to_compare|date('Y-m-d H:i:s') > 'now'|date('Y-m-d H:i:s') %}
                {% if coming == 0 %} 
                    <div class="comingEvent">
                        <h3 class="comingTitle">{{ 'general.title.prochainement'|trans }}</h3>
                    {% set coming = 1 %}
                {% endif %}
            {% else %}
                {% if past == 0 %}
                    <div class="pastEvents">
                        <h3 class="pastTitle">{{ 'general.title.dernierement'|trans }}</h3>
                    {% set past = 1 %}
                {% endif %}
            {% endif %}  
            {% include 'front/evenement/top_evenements_details.html.twig' %}
            {% if coming == 1 and past==0 %}
            </div>
            {% endif %}    
        {% endif %}
    {% endfor %}
    {% if past == 1 %}
        </div>
    {% endif %} 
        <div class="postItem shortPost eventItem eventsCalendar">
            <div class="postItemCtn eventItemCtn">
                <div class="calendarTitle">{{ 'general.title.calendrier'|trans }}</div>
                <div id='calendar'></div>
                <a class="btn btn-blank-secondary" href="{{path('evenements')}}">{{ 'evenement.button.see_all'|trans }}</a>
            </div>
        </div>
</section>