{% trans_default_domain 'front' %}
<div class="hero">
    <h1 class="heroTitle">{{ hastagTitle }} <span class="u-textColorRJ">{{ hastagList }}</span></h1>
    <div class="userGuide">
        <a class="btn btn-blank" href="{{path('presentation_japonaise')}}" lang="ja">{{ 'general.title.nihon'|trans }}</a>
        {% if lien_adhesion() is not empty and app.user == false %}
        <a class="btn" href="{{ lien_adhesion() }}" target="_blank">{{ 'general.button.be_member'|trans }}</a>
        {% endif %}
    </div>
</div>