{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if pager.count() > 0 %}
    <!-- small box -->
    <div class="small-box {{ settings.color }}">
        <div class="inner">
            <h3>{{ pager.count() }}</h3>

            <p>{{ settings.text|trans({}, admin.translationDomain) }}</p>
        </div>
        <div class="icon">
            <i class="{{ settings.icon }}"></i>
        </div>
        {% if admin.hasAccess('list') %}
            <a href="{{ admin.generateUrl('list', {filter: settings.filters}) }}" class="small-box-footer">
                {{ 'stats_view_more'|trans({}, 'SonataAdminBundle') }} <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
