{% extends "front/template/base_front.html.twig" %}
{% trans_default_domain 'front' %}
{% block body_class %}asso{% endblock %}
{% set meta_title = 'association.qui_sommes_nous.version.meta.title'|trans %}
{% block html_title %}– {{ meta_title }}{% endblock %}
{% block og_meta %}
    {% include 'front/template/basique_meta_pages.html.twig' %}
{% endblock %}
{% block main %}
    {% set hastagTitle = 'association.qui_sommes_nous.version.title'|trans %}
    {% set hastagList = "" %}
    {% include 'front/bandeau/bandeau_hastag.html.twig' %}

    <section class="about section u-fitted">
        <h2 class="sectionTitle">{{ 'association.qui_sommes_nous.version.presentation.title'|trans }}</h2>
        <div class="aboutText">
            {{ 'association.qui_sommes_nous.version.presentation.texte'|trans({'%members_number%': nombre_membre()})|raw }}
            {{ 'association.qui_sommes_nous.version.presentation.date'|trans|raw }}
        </div>
    </section>

    {% include 'front/association/membres_bureau.html.twig' %}

    {% include 'front/association/partenaires.html.twig' %}

    <section class="u-fitted">
        <div class="join section">
            <h2 class="sectionTitle">{{ 'association.qui_sommes_nous.version.adhesion.title'|trans }}</h2>
            <div class="joinChapo">{{ 'association.qui_sommes_nous.version.adhesion.header'|trans({'%cotisation_amount%': montant_cotisation()})|raw }}</div>
            {% if lien_adhesion() is not empty %}
            <a class="btn" href="{{ lien_adhesion() }}" target="_blank">{{ 'general.button.be_member'|trans }}</a>
            {% endif %}
            <div class="joinText sectionText">
                <strong class="conditions">{{ 'conditions.free_for_members'|trans }}</strong>
                <p>{{ 'association.qui_sommes_nous.version.adhesion.texte'|trans({'%cour_adresse%': adresse_cours()})|raw }}</p>
                <p>{{ 'cour.contact_form_link'|trans({'%contact_link%': path('contact')})|raw }}</p>
            </div>
        </div>
    </section>

    {% include 'front/bandeau/follow_us.html.twig' %}
    
{% endblock %}