<!doctype html>
<html class="no-js" lang="fr-FR">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Lucie Guilbert" />
        <meta name="copyright" content="©  Association franco-japonaise de Rouen." />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Rouen Japon {% block html_title %}{% endblock %}</title>
        <meta name="description" content="Favoriser les échanges entre les Français et la communauté japonaise de Rouen. 日仏文化交流会は、ルーアンにおける日本文化との交流を目的とし活動しています。">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('medias/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('medias/favicons/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('medias/favicons/favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset('medias/favicons/manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('medias/favicons/safari-pinned-tab.svg') }}" color="#e30613">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{{asset('css/app.css'|asset_version)}}">
        <link rel="stylesheet" href="{{ asset('fullcalendar/lib/cupertino/jquery-ui.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.print.min.css') }}" media="print" />
        
        {#JS Grecaptcha#}
        <script src='https://www.google.com/recaptcha/api.js?hl=fr&render=explicit' async defer></script>
        {#END JS Grecaptcha#}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <!--[if lt IE 10]>
            <p class="browserupgrade">Vous utilisez un navigateur <strong>déprécié</strong>. Veuillez faire une <a href="http://browsehappy.com/">mise à jour de votre navigateur</a> pour visualiser correctement notre site.</p>
        <![endif]-->
        {% include 'template/nav_barre.html.twig' %}
        <main class="siteBody">
        {% block main %}{% endblock %}
        </main>
        {% include 'template/footer.html.twig' %}
        {% block javascript %}
        <script src="{{ asset('js/app.js'|asset_version) }}"></script>
        <script>
            $(document).ready(function(){
                app.headerController.defaultAction.init();
            });
        </script>
        <script src="{{ asset('fullcalendar/lib/moment.min.js') }}"></script>
        <script src="{{ asset('fullcalendar/fullcalendar.min.js') }}"></script>
        <script src="{{ asset('fullcalendar/locale/fr.js') }}"></script>
        
        <script>
            var events = {{ (dates is defined) ? dates|json_encode|raw : '""' }};
        </script>        
        

        {% endblock %}
        {% include 'template/google_analytics.html.twig' %}
    </body>
</html>
