<footer class="siteFooter">
    <div class="siteFooterCtn u-fitted">
        <div class="footerItem footerAsso">
            <h3 class="footerTitle h3">Rouen Japon</h3>
            <div class="footerText">
                <p>Créée en septembre 2009, l’association franco-japonaise de Rouen, alias "Rouen Japon", composée de Français et de Japonais, a pour vocation de :</p>
                <ul>
                    <li>Favoriser les échanges entre les Rouennais et les Japonais,</li>
                    <li>Partager nos cultures,</li>
                    <li>Apprendre le japonais...</li>
                </ul>
            </div>
            {% if lien_adhesion() is not empty %}
            <a class="assoMemberBtn btn" href="{{ lien_adhesion() }}" target="_blank">Devenir membre</a><br>
            {% endif %}
            <a class="seeMore" href="{{path('association')}}">En savoir plus sur l'association</a>
        </div>
        <div class="footerItem footerQuickLinks">
            <b class="footerTitle h3">Accès rapides</b>
            <ul class="footerQuickList u-ul-mute">
                <li class="footerQuickItem"><a class="footerQuickLink" href="/">Accueil</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{path('association')}}">L'association</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{path('ateliers')}}">Nos Ateliers</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{path('evenements')}}">Événements</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{path('actualites')}}">Actualités</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{path('contact')}}">Contact</a></li>
                <li class="footerQuickItem"><a class="footerQuickLink" href="{{path('association')}}#partenaires">Partenaires</a></li>
            </ul>
            <a class="btn btn-blank" href="{{path('presentation_japonaise')}}" lang="ja">日本人です</a>
        </div>
            {#% include 'footer_blog.html.twig' %#}
        <div class="footerItem footerContact">
            <b class="footerTitle h3">Contact</b>
            <div class="footerText">
                <p>Association franco-japonaise de Rouen<br>
                4 quai de Paris<br>
                76000 Rouen</p>
            </div>
            <a class="btn btn-blank btn-small" href="{{path('contact')}}">Envoyer un message</a>
            <div class="contactSocial">
                <a class="contactFacebook" href="https://www.facebook.com/AssoJaponRouen" target="_blank"><span class="u-hiddenVisually">Facebook</span></a>
                <a class="contactTwitter" href="https://twitter.com/rouenjapon" target="_blank"><span class="u-hiddenVisually">Twitter</span></a>
            </div>
        </div>
    </div>
    <div class="siteCredits">
        <div class="u-fitted">&copy; 2016 Association franco-japonaise de Rouen - Tous droits réservés</div>
    </div>
</footer>